body {
  font-family: "Raleway", sans-serif;
}
.navbar-brand{
  font-weight: 700;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parrafo1{
  color: #e9208f;
  width: 700;
}

.btn-info {
  background-color: #e9208f;
  border-color: #e9208f;
}

.display-1{
  color: #e9208f;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
